user www-data;
worker_processes auto;

events {
    worker_connections 1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;

    sendfile        on;
    keepalive_timeout  65;
    client_max_body_size 50M;

    upstream backend {
        server {{ upstream_backend }};
    }

    upstream frontend {
        server {{ upstream_frontend }};
    }

    upstream gateway {
        server {{ upstream_gateway }};
    }

    include /etc/nginx/sites-enabled/*;
}
