[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"
daphne = "*"
channels = "*"
djangorestframework = "*"
celery = "*"
django-celery-beat = "*"
drf-spectacular = {version = "*", extras = ["sidecar"]}
dj-rest-auth = "*"
django-allauth = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
PyJWT = "*"
pillow = "*"
django-jet-reboot = "*"
django-cors-headers = "*"
pip = "*"
drf-nested-routers = "*"
djangorestframework-simplejwt = "*"
pydantic = "*"
channels-redis = "*"

[dev-packages]
