/* Colors */
:root {
    --electric-blue: #1E90FF;
    --neon-pink: #FF1493;
    --cyber-yellow: #FFD700;
    --dark-slate-gray: #2a2b2b;
    --deep-purple: #6A5ACD;
    --gunmetal: #2C3539;
    --lime-green: #32CD32;
    --crimson-red: #DC143C;
    --glowing-white: #F8F8FF;
}
