/* src/assets/styles/global.css */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #1e1e1e;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

button {
    cursor: pointer;
    transition: all 0.3s ease;
}

.primary-btn {
    background-color: #1E90FF;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
}

.primary-btn:hover {
    background-color: #1C86EE;
}

.secondary-btn {
    background-color: #FF1493;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
}

.secondary-btn:hover {
    background-color: #EE1289;
}
